# Dependencies
node_modules/

# Environment variables
.env
backend/.env
frontend/.env

# Logs
*.log
npm-debug.log*

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Uploaded files (if storing locally)
backend/uploads/